{% extends '../base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
    <div class="features-block" id="account">
        <div class="container">
            <h3>Hello,
                {% if user.is_authenticated %}
            {{ user.username }}
                {% else %}
                My friend
            {% endif %}
            </h3>
            <div class="col-md-4">
                {% if not user.avatar %}
                    <img src="static/mainpage/images/default_avatar.png" style="width: 150px; height: 150px;">
                {% else %}
                    <img src="/images/{{ user.avatar }}" style="width: 150px; height: 150px;">
                {% endif %}
                 <form action="profile" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="form-group">
                     {% csrf_token %}
                     {{ form|bootstrap }}
                         <a class="btn btn-link" href="/password">Change password</a>
                     </div>
                     <input class="btn btn-success" type="submit" style="margin-left:0px !important;" id="submit-btn">
                 </form>
                <a class="btn btn-primary" style="margin-top:7em;" href="/logout">LOGOUT</a>
            </div>
            <div class="col-md-4"></div>
                <div class="col-md-4" id="eventlist">
                    {% if user.is_authenticated %}
                    <h3>Your Events:</h3>
                    <ul style="list-style-type:none">
                        {% for user_in_event in user_events %}
                        <li>
                            <h3><small><a class="link" href="/details_event?event_id={{ user_in_event.event.id }}">
                                {{ user_in_event.event.title }}</a>
                                <h4>{{ user_in_event.event.date }}</h4>
                            </small></h3>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
        </div>
    </div>
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD'
        });
    });
</script>
{% endblock %}
