{% extends '../base.html' %}
{% load staticfiles %}

{% block content %}
<div class="features-block">
    <div class="container">
        <div class="col-md-6">
            <h1 style="color: #337ab7;">{{ event.title }}</h1>
            <h4>{{ event.date }}</h4>
            <br>
            <h4>{{ event.detail }}</h4>
        </div>
        <div class="col-md-6">
            <img class="featurette-image img-responsive center-block" src="{{ event.photo.url }}" alt="Generic placeholder image">
        </div>
    </div>
</div>
{% endblock %}
