{% extends '../base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
    <div class="features-block" id="account">
        <div class="container">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <h2>Change password</h2>
                <br>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"
                        {% endif %}><h4 style="color: #a94442;">{{ message }}</h4></li>
                        {% endfor %}
                    </ul>
                {% endif %}
              <form method="post">
                  <div class="form-group">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                  </div>
                <input class="btn btn-success" type="submit">
              </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
