{% extends '../base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
    <div class="features-block" id="account">
        <div class="container">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <h2>Sign up</h2>
              <form method="post">
                  <div class="form-group">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                  </div>
                <input class="btn btn-success" type="submit">
              </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
