{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="features-block" id="account">
        <div class="container">
            <h3>Hello,
                {% if user.is_authenticated %}
            {{ user.username }}
                {% else %}
                My friend
            {% endif %}
            </h3>
        </div>

        <div class="profile-photo">
            <img src="">
        </div>

        <div class="participate">
            {% if user.is_authenticated %}
            <h4>You participate in:</h4>
            <ul>
                {% for user_in_event in user_events %}
                <li><h4>{{ user_in_event.event.title }}</h4></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <a class="btn btn-primary" href="/logout">LOGOUT</a>
    </div>
{% endblock %}
