{% load staticfiles %}

{% block events %}

<div class="features-block" id="upcomingevents">
    <div class="container">
        <h3>Upcoming events</h3>
            {% for event in upcoming_events %}

                <div class="row featurette">
                <div class="col-md-7 txt-sty1 flot-stn3">
                  <h2 class="featurette-heading">{{ event.title }}<span class="text-muted"></span></h2>
                  <p class="lead">{{ event.detail }}</p>
                </div>
                <div class="col-md-5 flot-stn3">
                  <img class="featurette-image img-responsive center-block" src="{{ event.photo.url }}" alt="Generic placeholder image">
                </div>
                  <div class="clearfix"></div>
                </div>

            {% endfor %}
    </div>
</div>

{% endblock %}
