{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{{ login_error }}
<div class="features-block" id="login">
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label" for="username">Username:</label>
      <div>
        <input type="text" class="form-control" id="username" placeholder="Enter username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="password">Password:</label>
      <div>
        <input type="password" class="form-control" id="password" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
