{% load staticfiles %}


{% block media %}

    <div class="videos" id="meetmedia">
    <div class="container">
        <h3>Meet Media</h3>
        {% for videos in videos %}
        <div class="col-md-4 ifrm-stng">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="{{ videos.address }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}
